#wrapper
  h1= title
  p Welcome to #{title}
  ul#tag-list
  #tag-create-button create new tag
  #tag-edit-button edit tag
//script(src='javascripts/main2.js')
script(src='/javascripts/require.js', data-main='/javascripts/main2.js', type='text/javascript')

  
  
  
  
  
  
  