!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascripts/jquery-1.7.min.js')
    //script(src='/javascripts/underscore.js')
    //script(src='/javascripts/backbone.js')    
  body
    #nls
      ul#nls-list
        li 
          a(href='/i18n/jp') Japanese
        li
          a(href='/i18n/en') English
        li
          a(href='/i18n/kr') Korean
    #wrapper!= body